body {
  background-color:#ffffff;
}
#logo{
  text-align:center;
	width:auto;
}
.bio {
	width:100%;
}
p {
  color:red;
}
h1 {
	background-color:#333333;
	color:white;
  text-align:center;
	height:40px;
}
.info { 
      float: right;
      position: relative;
      top:133px;
      border-style: dashed;
      border-width:2px;
      display:inline-block;
      border-color:#81821e;
}
/*This is not need for this exercise */
/*.foot {
      background-color:#656565;
      color:yellow;
      height:20px;
      text-align:center;
      width:auto;
}
*/